@tailwind base;
@tailwind components;
@tailwind utilities;

*,body{
  margin: 0;
  padding: 0;
}



@layer utilities {
    .list-dot li::before {
      content: "•";
      color: #A4A4A4; /* Set the color of the dot */
      margin-right: 0.5rem; /* Adjust the spacing between the dot and the text */
    }
    .list-dot-black li::before {
      content: "•";
      color: #1c1c1c; /* Set the color of the dot */
      margin-right: 0.5rem; /* Adjust the spacing between the dot and the text */
    }
    .list-dot p::before {
      content: "•";
      color: #A4A4A4; /* Set the color of the dot */
      margin-right: 0.5rem; /* Adjust the spacing between the dot and the text */
    }
  }

  /* .visibleDiv{
    transform: translateX(0);
  } */

  @media (max-width: 768px) { 
    .recharts-responsive-container{
        height: 300px !important;
    }
  }
  @media (max-width: 380px) { 
    /* .header_nav{
        padding: 10px 1px;
    } */
    input{
      width: 160px !important;
    }
  }
  
  
